/* reset and defaults */
ul { margin: 0px; list-style: none;}
.hid { display: none;}
.texthid a { display: none;}
a { color: #015486; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
a:hover { color: #015486;}

.red { background: #D15D5D!important;}
.green { background: #7CAF2F!important;}

/* Main Body Background */
/*body { background: url('../imgs/METER_SCREEN_FINAL.jpg') center center fixed no-repeat;
background-size: cover;}*/
body { border-top: 15px solid grey;}
.eBar { background: #777; color: #fff; width: 100%; position: absolute; width: 100%; top: 0; float: left; text-align: center; padding: 0px 0px; font-size: 11px; height: 15px; overflow:hidden;}
.syncstat { z-index: 99; position: absolute; top: 0; float: left; width: 96%;padding: 0px 2% 35px; background: #444; color: #fff;}
.syncstat span { clear: both; float: left; width: 90%; padding: 5px 5%;}
.syncstat span.title { font-size: 20px;}
.syncstat span.closestat { background: #666; padding: 10px 5%;}

/* Max width */
#main_cont, .main_body, #settings { max-width: 740px; margin: 0 auto;}
#main_cont.extend { max-width: 800px; margin-top: 20px;}

/* Login style */
.tabn a:active { color: #fff;}
h1 { float:left; text-align: center; color: #222; margin-bottom: 20px; font-family: 'Lato', sans-serif; font-weight:300; margin-left: 0px; width: 100%; font-size: 30px;}
h1 img { margin-top: 3px; vertical-align:text-top;}

#login_cont { width: 100%; margin: 0 auto;}
#login { float: left; width: 80%; padding: 20px 5% 20px; background: #eee; margin: 5% 5% 0px;}
#login div { clear: both; overflow: hidden; width: 100%; float: left; margin: 0px 0px 0px 0px;}
#login div.passinput { border-top: 1px solid #eee;}
#login label { font-size: 14px; cursor: text; float: left; position: absolute; color: #777; opacity: 0; margin: 16px 0px 0px 24px;}
#login input { color: #444; font-size: 14px; float: left; outline: none; border: none; background: #ccc; width: 96%; height: 20px; border-left: 10px solid #7f354a; padding: 15px 0px 15px 4%; margin: 0px 0px 0px 0px; -webkit-focus-ring-color: none!important; -webkit-appearance: none!important;-webkit-box-flex: 1; -webkit-box-shadow: none; -webkit-border-radius: 0;-webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
#login input:focus { border-left: 10px solid #015486; -webkit-focus-ring-color: none!important; -webkit-appearance: none!important;-webkit-box-flex: 1; -webkit-box-shadow: none; -webkit-border-radius: 0;-webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
#login input#send { margin-top: 10px; border: none; width: 100%; float: left; background: #7f354a; color: #fff; cursor: pointer; font-weight: bold; padding: 10px 20px; height: 50px;}
#login input#send:active { border: none; background: #015486;}
#login div#result { margin: 5px auto 1px; }
#login div.response { margin: 3px 0% 0px; background: #bda100; width: 94%; padding: 8px 4% 8px 3%;
text-align: center;  font-size: 15px;}
#login .loader { margin-left: 47%;}
#login img.logo { width: 20%; clear: both; float: left; margin: 0 40%;}
#login h1 { margin-top: 15px; font-size: 26px; width: 100%;}

/* Logout button style */
.logout { width: 60px; height: 30px; float: right; position: absolute; top: 20px; background: #cbcbcb;
text-align: center; text-decoration: none; padding-top: 15px; margin-left: -60px; color: #7f354a;}
a.logout:active, .goOffline:hover { color: #015486; background: #bbb; }

/* General content */
.content { background: #eee; padding: 15px 3% 15px; float: left; width: 94%; }

/* Bread crumb navigation */
.nav { overflow: hidden; width: 100%; float: left; margin-bottom: 0px;}
.nav li { float: left; height:72px;
color: #333; width: 25%; text-align: center; font-size: 18px;
background: #333; border-right: 0px solid #222; }
.nav li.last { margin-right: -0px; border-right: 0px;}
.nav li a { border-bottom: 0px solid #333; text-decoration: none; color: #333;float: left;
padding: 23px 0px; text-align: center; width: 100%;}


/* Bread crumb arrow styles */
.nav li .arrow-right { margin-top: -23px;
border-left: 10px solid #333; float: right;
margin-right: -10px; position: relative; top: 0;}
.arrow-right { width: 0;height: 0;
border-top: 36px solid transparent;
border-left: 10px solid #0FC;
border-bottom: 36px solid transparent;
}
.nav_cont { float: left; width: 100%;}
/* Bread crumb degrate color */
.nav li:nth-child(1) { background: #aaa;}
.nav li:nth-child(2) { background: #bbb;}
.nav li:nth-child(3) { background: #ccc;}
.nav li:nth-child(4) { background: #ddd;}
.nav li:nth-child(1) .arrow-right { border-left-color: #aaa;}
.nav li:nth-child(2) .arrow-right { border-left-color: #bbb;}
.nav li:nth-child(3) .arrow-right { border-left-color: #ccc;}
.nav li:nth-child(4) .arrow-right { border-left-color: #ddd;}

.nav li.meter .arrow-right{ display: none;}
/*
.nav li.aa { background: #aaa;} .nav li.bb { background: #bbb;}
.nav li.cc { background: #ccc;} .nav li.dd { background: #ddd;}
.nav li.aa .arrow-right { border-left-color: #aaa;} .nav li.bb .arrow-right { border-left-color: #bbb;}
.nav li.cc .arrow-right { border-left-color: #ccc;} .nav li.dd .arrow-right { border-left-color: #ddd;}
*/

/* Bread crumb states */
.nav li.selected { color: #eee; width: 25%; margin: 0px 0px 0px 0px; background: #7f354a;}
.nav li.selected a { color: #eee; border-color: #7f354a; }
.nav li:active a  { color: #eee; border-color: #d3be4f; background: #d3be4f!important; height: 100%;}
.nav li.selected .arrow-right {border-left: 10px solid #7f354a;}
.nav li:active .arrow-right {border-left: 10px solid #d3be4f;}
.nav li.last:active a { width: 101%;}

.nav.utils li { width: 33%;}
.nav.utils li.selected { width: 34%;}
.nav.camps li { width: 33%;}
.nav.camps li.selected { width: 34%;}
.nav.camps.utils li { width: 50%;}
.nav.camps.utils li.selected { width: 50%;}

/* Content styles */
.campus_cont, .campus_list, .campus_list li, .campus_list ul, .campus_list li a { float: left; width: 100%;}
.campus_list li a { width: 100%; padding: 0px 0%; float: left;
background: #cecece; border-top: 1px solid #e6e6e6; text-decoration: none;
border-bottom: 1px solid #919191;}
.campus_list li a:active { color: #7F354A; background: #888;
border-bottom-color: #ccc;
border-top-color: #666;
}
.campus_list li a:active .descr { color: #d3be4f;}
.campus_list li.red a { background: #9FD187!important;}
.campus_list li.red a span.code { background: #B0E7A2!important;}

/* Content List styles */
.code {padding: 10px 0%;
float: left; background: #bbb; font-size: 16px; width: 42%;
text-align: center;}
.descr { padding: 13px 2%; float: left; color: #222;
width: 54%;}

/* Date picker changes */
.dwbg { border-radius: 0px!important; -webkit-border-radius: 0px!important;}
.dwi { margin: 0px!important;}
.dw { width: 100%!important; overflow: hidden!important;}
table { margin-bottom: 0px!important; }
.dwhl { padding: 0px 0px!important;}
dw-inline { overflow: hidden!important;}
.android-ics .dw { border: 0px!important;}

/* Meter Input styles */
.meterInput { margin-top: 1px;}
.meterInput div.iCont input { color: #222; font-size: 14px; outline: none; 
border: none; background: #fff; width: 70%; height: 20px; 
border-left: 0px solid #7f354a; padding: 15px 0px 15px 4%; 
margin: 0px 0px 0px 0px; 
-webkit-focus-ring-color: none!important; -webkit-appearance: none!important;-webkit-box-flex: 1; -webkit-box-shadow: none; -webkit-border-radius: 0;-webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
.meterInput #send, .meterInput #sendM , #subM{ margin-top: 5px; border: none; width: 100%; 
float: left; background: #7f354a; color: #fff; cursor: pointer; 
font-weight: bold; padding: 10px 20px; height: 50px;
padding: 10px 0px;
height: 18px;
text-align: center;}
#subM {  height: 50px; }
.meterInput #send:active, .meterInput #sendM:active { border: none; background: #015486;}
.meterInput label { width: 24%; font-size: 14px; cursor: text; float: left; color: #444;
background: #CCC; padding: 16px 0px 13px 2%;}
.meterInput div { clear: both; overflow: hidden; width: 100%; float: left; margin: 0px 0px 0px 0px;}
.meterInput div.iCont { margin-top: 10px; background: #fff; }
.meterInput .date label { width: 96%; background: #ccc; margin: 0px; padding: 10px 2% 8px;}
.meterInput .response, .response { margin: 3px 0% 0px; background: #bda100; width: 94%; padding: 8px 4% 8px 3%;
text-align: center;  font-size: 15px;}
.response { margin: 0px 0% 0px; background: #bda100; width: 100%; padding: 8px 0% 8px;
text-align: center;  font-size: 15px;}
.meterInput select { width: 72%;
height: 49px; border: 0px;
margin: 0px; padding: 10px 2%;
}

.loader, .loaderLogin { width: 100%; text-align: center; float: left; margin: 30px 0px 10px;}
.changeutil, .changecamps, .sett, .goOffline, .sync { cursor: pointer; width: 60px; height: 30px; float: right; position: absolute; top: 20px; background: #cbcbcb;
text-align: center; text-decoration: none; padding-top: 15px; margin-left: -60px; color: #7f354a;}
.changeutil:active, .changecamps:active, .sett:active , .sync:active { color: #015486; background: #bbb; }

#settings_cont { width: 100%; height: 85px; background: #222; border-bottom: 1px solid #000; }
#settings { width: 100%; margin: 0px auto;}
#settings .logout, #settings .changeutil, #settings .changecamps, #settings .goOffline, .sync { position: static; top: 0px; margin: 20px 10px 0px 0px; }

#internetError { width: 100%; color: #222; background: #FFFF99; text-align: center; padding: 10px 0px;}
.sortM { float: left; background: #777; width: 90%; padding: 7px 5%;
cursor: pointer; color: #d3be4f; border-top: 1px solid #bbb; border-bottom: 1px solid #555;}
.sortM:active {  background: #666; border-top: 1px solid #555; border-bottom: 1px solid #bbb;}
.sortM span { margin-left: 5%;}

.readingInput { display: none;}
#readingR { display: block;}

.pwloc { border-bottom: 1px solid #eee;}

.prevReads span.rTitle { width: 96%; background: #ccc; margin: 0px; padding: 10px 2% 8px; 
font-size: 14px; font-weight: bold; display: block; }
.prevReads a { float: left; width: 44%; background: #7F354A; display: block; margin: 0px; padding: 10px 2% 8px;
margin: 0 1% 14px 1%; font-size: 12px; color: white; text-decoration: none; text-align: center;}

.goOffline { display: none;} 

.Rhead {
    float: left; width: 100%; background: #ddd;
}
.Rhead span { float: left; color: #666; text-align: center; padding: 2px 0; background: #ddd;}
.Rhead .d { width: 55%; }
.Rhead .t { width: 10%; }
.Rhead .v { width: 35%; }
.prevReads li span { float: left; color: #444; text-align: center; }
.prevReads li .d { width: 55%; }
.prevReads li .t { width: 10%; }
.prevReads li .v { width: 35%; }
.prevReads li div { padding: 8px 0px; background: #C0D4E0; margin-bottom: 5px;}

.meterInput #sendM.split { width: 49%; margin-right: 2%}
#updateM { margin-top: 5px; border: none; width: 49%; 
float: left; background: #015486; color: #fff; cursor: pointer; 
font-weight: bold; padding: 10px 20px; height: 50px;
padding: 10px 0px;
height: 18px;
text-align: center;}

.respCont { width: 100%; max-width: 800px; float: left;}
.respCont span { float: left; width: 50%; text-align: center; padding: 6px 0px; cursor: pointer; font-weight: bold; color: #fff;}
.respCont span.yesSubmit { background: #7f354a;}
.respCont span.noSubmit { background: #015486;}

.sett { margin-top: -15px; position: static;}
/* Tablet */
body { zoom: 1.25;}
#main_cont, .main_body, #settings { max-width: 1440px; margin: 0 auto;}
#main_cont.extend { max-width: 1500px; margin-top: 20px;}
.dwwr, .dwwc { zoom: normal!important; }

.meterInput div.date { margin-top: 5px;}

/* Mobile scaling */
@media only screen and (max-width: 560px) {
	body { zoom: 1;}
    .nav li span {font-size: 15px; float: left; line-height: 16.5px; width: 60px; margin-left: 11%; }
    #main_cont.extend { margin-top: 0px;}
    .logout { top: 0px;}
    .extend h1 { text-align: left; font-size: 22px;}
    .extend h1 img { vertical-align: -7px;}
    .meterInput div.iCont input { width: 57%;}
    .meterInput label { width: 37%;}
    .meterInput select { width: 59%;}
	
    #login img.logo { width: 30%; margin: 0px 35%;}
    #login h1 { width: 100%;}
    #login { padding-top: 20px;}
    .prevReads a { display: none;}
	h1 { margin-bottom: 10px;}
    .nav.utils li { margin: -10px 0px -8px;}
    .android-ics .dwwr { margin: -5px 0px;}
    .meterInput div.iCont { margin-top: 6px;}
    .meterInput input#sendM, .meterInput input#updateM { margin-top: 5px;}
    .content { padding: 10px 3% 6px;}
	.sett { margin-top: -10px;}
	.meterInput .date label, .prevReads span.rTitle { padding: 7px 2% 5px;}
}

/* Select styling */
/* The CSS */
select#readT {
    padding:3px;
    margin: 0;
    color:#444;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	font-weight: normal;
}
select#readT option {
    font-weight: normal;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select#readT {padding-right:18px}
}

label.selectfix {
    position:relative;
    background: none;
    float: none;
    padding: 0px 0px 0px 2%;       
}
label.selectfix:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#888;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label.selectfix:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}



