<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.phonegap.backbonepwmeter"
	versionCode="10" 
	version   = "0.9.0">

    <!-- versionCode is optional and Android only -->

    <name>PROPworksMeter</name>

    <description>
        PROPworksMeter app
    </description>
	
	
	<preference name="fullscreen" value="true" />
	<preference name="load-url-timeout" value="10000" />
	
	<preference name="windowSoftInputMode" value="adjustResize" />
	
	<icon src="meter2.png" />
	
</widget>